<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" type="text/css" href="register.component.scss">
</head>
<body>
  <div class="container">
    <div class="image">
      <img src="./assets/img/car.jpg" alt="Imagen de inicio de sesión">
    </div>

    <div class="content">
      <h1>SE PARTE DE NOSOTROS!</h1>
      <h2>REGISTRATE</h2>
      <form [formGroup]="registerform" class="form">
        <div class="input-container">
        <input formControlName="name" type="text" placeholder="Nombre">
        <input formControlName="lastname" type="text" placeholder="Apellido">
        <input formControlName="DNI" type="number" placeholder="DNI">
        <input formControlName="phone" type="number" placeholder="Telefono">
        <input formControlName="email" type="email" placeholder="Correo Electrónico">
        <input formControlName="password" type="password" placeholder="Contraseña">
        </div>
        <h3>Por la presente, acepto los Términos y condiciones y la Política de privacidad</h3>
        <button type="submit" class="small-button" (click)="register()">Registrar</button>
        <h4>¿Ya tienes cuenta?</h4>
      </form>
      <h4>
        <a style="color:orange" (click)="ingresar()"><strong style="cursor: pointer;">Ingresa aqui </strong> </a>
      </h4>
    </div>
  </div>
</body>
</html>
