<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="home1.component.scss">
      </head>
<body>
    <header style="background-color:bisque;">
        <mat-toolbar>
            <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
              <mat-icon>home</mat-icon>
            </button>
            <span class="example-spacer"></span>
            <img src="./assets/img/logo.png" alt="Imagen">
          </mat-toolbar>
      </header>
    <h1 class="centrado" style="margin-left: auto;margin-right: auto;"> Crédito Vehicular</h1>
  <form>
    <div id="division1">
      <div id="subdivision1-1">     
        <div class="flex-item">
          <label for="fechaSolicitud">Fecha de Solicitud: </label>
            <input type="date" id="fechaSolicitud" name="fechaSolicitud" min=fechaactual() >
        </div>
      </div>
      <div id="subdivision1-2">
        <label for="modelo">Tipo de periodo:</label>
        <select id="modelo" name="modelo">
          <option value="Periodo de gracia parcial">Periodo de gracia parcial</option>
          <option value="Periodo de gracia total">Periodo de gracia total</option>
        </select>
      </div>
  </div>

  <div id="division2">
    <label for="periodo" >Periodo de gracia:</label>
    <input style="display: block;" type="number" id="periodo" name="periodo" placeholder="Ingrese números" min="0" max="30" oninput="true">
  </div>
  <div id="division2">
    <label for="periodo" >Periodo de pago:</label>
    <input style="display: block;" type="number" id="periodo" name="periodo" placeholder="Ingrese números" min="0" max="150" oninput="true">
  </div>
  <div id="division3">
    <button id="botonContinuar"  [routerLink]="['/home2']">Continuar</button>
  </div>
  </form>
</body>
</html>
