<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" type="text/css" href="login.component.scss">
</head>
<body>
  <div class="container">
    <div class="image">
      <img src="./assets/img/6428429.jpg" alt="Imagen de inicio de sesión">
    </div>

    <div class="content">
      <h1>Ingresar</h1>
      <h3>Ingresa tus datos para iniciar sesion en la cuenta</h3>
      <form>
        <div class="input-container">
        <input type="email" placeholder="Correo Electrónico">
        <input type="password" placeholder="Contraseña">
        </div>
        <h2> <u>Forgot Pasword? </u></h2>
        <br>
        <button type="submit" class="small-button" >Ingresar</button>
        <h4>Ingresar con</h4>
      </form>
      <div class="social-buttons">
        <a href="" class="facebook-link">
          <img src="./assets/img/ruta-al-logo-de-facebook.png" alt="Ingresar con Facebook">
        </a>
        <a href="" class="google-link">
          <img src="./assets/img/ruta-al-logo-de-google.png" alt="Ingresar con Google">
        </a>
      </div>
      <h4>
        <span style="color: black">No tienes cuenta. </span>
        <a class="mat-mdc-button-touch-target" style="color:orange"  (click)="registrate()"><strong> Regístrate </strong> </a>
        <span style="color: black">ahora.</span>
      </h4>
    </div>
  </div>
</body>
</html>
